<h2 class="color">Welcome to the ISBN Validator</h2>
<body>
<form method="post" action="first_page">
	<input type="text" name="num" required autofocus>
<button class="button button-shadow" onclick="window.location.href='/'">Enter</button>
</form>
</body>