<body>
<h2 class="color"><div>ISBN Result:</div></h2>
<h2 class="color"><%=mod_num%></h2>
<h2 class="color"><%=num%></h2>

<button class="button button-shadow" onclick="window.location.href='/'">Enter Another ISBN</button>
<button class="button button-shadow" onclick="window.location.href='/results'">History</button>

</body>