<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "css/style.css">
</head>
<body class="center">
    <header class="header">
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/results">History</a></li>
        </div>
    </header>
    <body>
    <%= yield %>
    </body>
  	</ul>
  	<footer>
        <h2><a href = "http://www.minedminds.org" target = "_blank">Mined Minds</a>
        	<br>
        &copy; 2018</h2>
	</footer>
</body>
</html>