<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "css/style.css">
</head>
<body class="center">
    <header>
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/results">History</a></li>
        </div>
    </header>
    <body class="transbox">
    <%= yield %></body>
  </ul>
<footer>
        <p >
        	<h1><a href = "http://www.minedminds.org" target = "_blank">Mined Minds</a><br>&copy; 2018</h1>
        </p>
</footer></div>
</body>
</html>