.center {
	text-align: center;
}

.color {
	color: #ffffff;
}
.message {
	color: black;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

body {
	align-content: center;
	background-image: url(../img/library.jpg);
	background-attachment: fixed;
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: center;
}

.result{
	font-size: 10%
}

.header {
 	text-align: center;
    text-transform: uppercase;
    font-style: oblique;
    font-size: 150%;
    position: sticky;
  	top: 0;
  	z-index: 1;
  	width: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 10%;
    padding: 10px;
}

.transbox {
  background-color: #ffffff;
  opacity: 0.6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(100, 0, 0);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(73, 0, 0);
}

.active {
    background-color: black;
}

.button {
	background-color: rgb(73, 0, 0);
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    font-size: 15px;
    transition-duration: 0.4s;
    border-radius: 4px;
}

.button-shadow:hover {
	display: inline-block;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
